body{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
}
form{
  width: 80%;
  height: auto;
  margin: 4vh auto;
  padding: 40px; /* Increased padding for better spacing */
  border: none; /* Removed border for a cleaner look */
  border-radius: 25px; /* Softened the corners */
  background-color: rgba(255, 255, 255, 1); /* white background */
  color: steelblue;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow for depth */
  transition: all 0.3s ease-in-out; /* Smoother transition for all properties */
  
}
form h1{
  text-align: center;
  padding: 20px;
  /*font-size: 2rem;*/
  font-weight: bold;
}
form label{
  color: steelblue;
  font-weight: bold;
  font-size: 120%;
  display: block;
  padding: 10px;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;
  
}
form .input{
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid steelblue;
  background-color: rgba(234,246,236,.8);
  color: steelblue;
  margin-bottom: 10px; /* Add more margin */
}
form .input:focus{
  outline: none;
  border-bottom-color: darkgoldenrod;
  background-color: rgba(12,17,18,.2);
  border: 1px solid darkgoldenrod;
}
form .input:hover{
  border-bottom-color: white;
  background-color: rgba(12,17,18,.2);
  border: 1px solid white;
}
form p,#checkbox{
  display: inline;
}
form p{
  color: steelblue;
}
form #submit{
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: steelblue;
}
form #submit:focus{
  outline: none;
}
form #submit:hover{
  background-color: rgba(12,234,88,.8);
}
form #google,#facebook{
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #1232E6;
  background-color: rgba(234,246,236,.8);
  border: 1px solid white;
}
form button:focus{
  outline: none;
}
form button{
  position: relative;
}
form button i{
  position: relative;
  left: 0;
  top: 0;
  padding: 10px;
  /*font-size: 180%;*/
}
form #google i{
  color: #E61212;
}
form #facebook i{
  color: #1232E6;
}
form #google:hover,#facebook:hover{
  background-color: rgba(12, 234, 88, .8);
  color: #fff;
}
@media screen and (max-width: 360px) {
  form{
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  form{
    width: 100%;
  }
}